body {
    background-color: #242124;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding-top: 60px;
}
.container {
    text-align: center;
}

.navbar {
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 14px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #1B1B1B;
    border-radius: 4px;
    opacity: 0.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.styled-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.styled-button:hover {
    background-color: black;
    color: white;
}