body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: #242124;
    color: #F5F5F5;
}

.navbar {
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #F5F5F5;
    padding: 14px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #1B1B1B;
    border-radius: 4px;
    opacity: 0.5;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.playlist-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playlist-container {
    width: 32%;
    text-align: center;
}


.spotify-div {
    width: 100%;
    height: 352px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}